@charset "UTF-8";

body{
    background-color: rgb(241, 170, 208); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 }
 h1{
     color: rgb(198, 231, 165);
     background-color: rgb(224, 81, 81);
 }
 h2{
     color: chartreuse;
 }
 p{
     text-align: justify;
 }